
// Main
main.py-6.bg-surface-secondary
.container-fluid
  // Card stats
  //- .row.g-6.mb-6
    //- .col-xl-3.col-sm-6.col-12
    //-   .card.shadow.border-0
    //-     .card-body
    //-       .row
    //-         .col
    //-           span.h6.font-semibold.text-muted.text-sm.d-block.mb-2 Budget
    //-           span.h3.font-bold.mb-0 $750.90
    //-         .col-auto
    //-           .icon.icon-shape.bg-tertiary.text-white.text-lg.rounded-circle
    //-             i.bi.bi-credit-card
    //-       .mt-2.mb-0.text-sm
    //-         span.badge.badge-pill.bg-soft-success.text-success.me-2
    //-           i.bi.bi-arrow-up.me-1
    //-           | 13%
    //-         span.text-nowrap.text-xs.text-muted Since last month
    //- .col-xl-3.col-sm-6.col-12
    //-   .card.shadow.border-0
    //-     .card-body
    //-       .row
    //-         .col
    //-           span.h6.font-semibold.text-muted.text-sm.d-block.mb-2 New projects
    //-           span.h3.font-bold.mb-0 215
    //-         .col-auto
    //-           .icon.icon-shape.bg-primary.text-white.text-lg.rounded-circle
    //-             i.bi.bi-people
    //-       .mt-2.mb-0.text-sm
    //-         span.badge.badge-pill.bg-soft-success.text-success.me-2
    //-           i.bi.bi-arrow-up.me-1
    //-           | 30%
    //-         span.text-nowrap.text-xs.text-muted Since last month
    //- .col-xl-3.col-sm-6.col-12
    //-   .card.shadow.border-0
    //-     .card-body
    //-       .row
    //-         .col
    //-           span.h6.font-semibold.text-muted.text-sm.d-block.mb-2 Total hours
    //-           span.h3.font-bold.mb-0 1.400
    //-         .col-auto
    //-           .icon.icon-shape.bg-info.text-white.text-lg.rounded-circle
    //-             i.bi.bi-clock-history
    //-       .mt-2.mb-0.text-sm
    //-         span.badge.badge-pill.bg-soft-danger.text-danger.me-2
    //-           i.bi.bi-arrow-down.me-1
    //-           | -5%
    //-         span.text-nowrap.text-xs.text-muted Since last month
    //- .col-xl-3.col-sm-6.col-12
    //-   .card.shadow.border-0
    //-     .card-body
    //-       .row
    //-         .col
    //-           span.h6.font-semibold.text-muted.text-sm.d-block.mb-2 Work load
    //-           span.h3.font-bold.mb-0 95%
    //-         .col-auto
    //-           .icon.icon-shape.bg-warning.text-white.text-lg.rounded-circle
    //-             i.bi.bi-moon
    //-       .mt-2.mb-0.text-sm
    //-         span.badge.badge-pill.bg-soft-success.text-success.me-2
    //-           i.bi.bi-arrow-up.me-1
    //-           | 10%
    //-         span.text-nowrap.text-xs.text-muted Since last month
  // Your content
  .card.shadow.border-0.mb-7
    .card-header
      h5.mb-0 Danh sách các nhãn trong hệ thống
      .table-responsive
        table.table.table-hover.table-nowrap
          thead.thead-light
            tr
              th(scope='col') &#x1EA2;nh
              th(scope='col') T&ecirc;n nh&atilde;n l&#x1EDB;p
              th(scope='col') S&#x1ED1; l&#x1B0;&#x1EE3;ng h&igrave;nh &#x1EA3;nh
              th(scope='col') Ng&agrave;y kh&#x1EDF;i t&#x1EA1;o
              th
              // Action column header
          tbody#table-body
            // Table rows will be dynamically populated here

    .card-footer.border-0.py-5
      span.text-muted.text-sm Showing 10 items out of 250 results found


script(src="../../js/home.js") 